<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download ID Card</title>
    <link rel="stylesheet" href="/css/result.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="display: flex;align-items: center;justify-content: center;min-height: 100vh;">

    <div style="background-color: white;">
        <div class="cards" style="display: flex;align-items: center;justify-content: space-around;flex-wrap: wrap;">

            <!-- frontside of the card -->
            <div class="card" id="frontpart" style="width: 400px;box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.06);border-radius: .5rem;padding: .25em;margin: 0 3em;height: 640px;">
                <!-- top image for college logo -->
                <div class="card-header" style="width:100%; display: flex;align-items: center;flex-wrap: wrap; justify-content: space-around;margin: .5em auto;background: cornsilk;height: 100px;">
                    <img src="/nitt.png" alt="" width="100" height="100" class="image">
                    <h5>Nationnal Institute of Technology<br>
                    Tiruchirappalli - 620015, Tamil Nadu<br>
                    INSTITUTE : +91-431-2503000<br>
                    Website : http://www.nitt.edu</h5>
                </div>

                
                <!-- the identity-card -->
                <div class="card-identity" 
                     style='margin: .75em auto 0;
                        background: brown;
                        color: white;
                        width: fit-content;
                        padding: .3em 1.5em;
                        border-radius: 1em;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 1.25rem;'>
                    identity card
                </div>

                <!-- now the image -->
                <div class="card-img" style="margin: 1em auto 0;
                width:200px;
                height:180px;
                background: whitesmoke;">
                    <!-- <img src="#" alt="student image"> -->
                </div>

                <!-- now the card details -->
                <div class="infos" style="display: flex;background: whitesmoke; flex-direction: column;align-items: center;margin-top: 1.5em;">
                    <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                        
                        <div class="info-key" style="width:50%;justify-self: center;">Name : </div>
                        <div class="info-value" style="justify-self: center;"><%=student.Name %></div>

                    </div>
                    <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                        
                        <div class="info-key" style="width:50%;justify-self: center;">RollNo : </div>
                        <div class="info-value" style="justify-self: center;"><%=student.RollNo %></div>

                    </div>
                    <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                        
                        <div class="info-key" style="width:50%;justify-self: center;">Department : </div>
                        <div class="info-value" style="justify-self: center;"><%=student.Department %></div>

                    </div>

                    <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                        
                        <div class="info-key" style="width:50%;justify-self: center;">Course : </div>
                        <div class="info-value" style="justify-self: center;"><%=student.Course %></div>

                    </div>

                    <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                        
                        <div class="info-key" style="width:50%;justify-self: center;">Batch : </div>
                        <div class="info-value" style="justify-self: center;"><%=student.Batch+"-"+(parseInt(student.Batch)+4) %></div>

                    </div>
                </div>

            </div>

            <!-- backside of the card -->
            <div class="card" id="backpart" style="width: 400px;box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.06);border-radius: .5rem;padding: .25em;margin: 0 3em;height: 640px;">

                <!-- top image for college logo -->
                <div class="card-header" style="width:100%; display: flex;align-items: center;flex-wrap: wrap; justify-content: space-around;margin: .5em auto;background: cornsilk;height: 100px;">
                    <img src="/nitt.png" alt="" width="100" height="100" class="image">
                    <h5>Nationnal Institute of Technology<br>
                    Tiruchirappalli - 620015, Tamil Nadu<br>
                    INSTITUTE : +91-431-2503000<br>
                    Website : http://www.nitt.edu</h5>
                </div>
                <!-- now the card details -->
                <div class="infos" style="display: flex;background: whitesmoke; flex-direction: column;align-items: center;margin-top: 1.5em;">
                    <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                        
                        <div class="info-key" style="width:50%;justify-self: center;">DateOfBirth : </div>
                        <div class="info-value" style="justify-self: center;"><%=student.DateOfBirth %></div>
        
                    </div>
                    <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                        
                        <div class="info-key" style="width:50%;justify-self: center;">BloodGroup : </div>
                        <div class="info-value" style="justify-self: center;"><%=student.BloodGroup %></div>
        
                    </div>
                    <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                        
                        <div class="info-key" style="width:50%;justify-self: center;">Email ID : </div>
                        <div class="info-value" style="justify-self: center;"><%=student.Email %></div>
        
                    </div>
                    <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                        
                        <div class="info-key" style="width:50%;justify-self: center;">Address : </div>
                        <div class="info-value" style="width:50%;justify-self: center;"><%=student.Address %></div>
        
                    </div>
                    <div class="info" style="display: flex;width:80%;font-size: 1.125rem;font-weight: bold;margin-top: 1em;">
                        
                        <div class="info-key" style="width:50%;justify-self: center;">Contact : </div>
                        <div class="info-value" style="justify-self: center;"><%=student.ContactNo %></div>
        
                    </div>
                </div>

            </div>

            <dir id="print">
                <button value="front" class="print-btn" onClick="printPDF(this.value)" ><i class="fa fa-download"></i>Front ID Card</button>
                <button value="back" class="print-btn" onClick="printPDF(this.value)"><i class="fa fa-download"></i>Back ID Card</button>
            </dir>
        </div>
    </div>  
    <script>
        function printPDF (value) {

            document.getElementById('print').style.visibility='hidden';
            if(value === "front")
            document.getElementById('backpart').style.visibility='hidden';
            if(value === "back")
            document.getElementById('frontpart').style.visibility='hidden';

            window.print();

            document.getElementById('print').style.visibility = 'visible'
            document.getElementById('backpart').style.visibility='visible';
            document.getElementById('frontpart').style.visibility='visible'
        }
    </script>
</body>
</html>
